distlib==0.3.8
dnspython==2.6.1
filelock==3.13.1
platformdirs==4.1.0
pymongo==4.6.2
setuptools==69.0.3
virtualenv==20.25.0
virtualenvwrapper-win==1.2.7
wheel==0.42.0
fastapi==0.110.0
uvircorn==0.27.1
