<!-- templates/upload_template.jinja2 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <!-- Bootstrap CSS from CDN -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/animatecss/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/styles.css">
    <style>
        /* Your existing styles */
        .dropzone {
            border: 2px dashed #0087F7;
            border-radius: 8px;
            background: #f0f0f0;
            padding: 20px;
            margin: 20px 0;
        }
    
        /* Style for the "Select Image" label */
        .form-group label {
            font-weight: bold;
        }
    
        /* Style for the upload button */
        .form-group.text-center {
            margin-top: 20px;
        }
    
        .btn-primary {
            background-color: #0087F7;
            border-color: #0087F7;
        }
    
        .btn-primary:hover {
            background-color: #0066CC;
            border-color: #0066CC;
        }
        .form-control-file {
          display: block;
          margin: 0 auto; /* This centers the input field horizontally */
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-style-6 font-title py-3" style="background-image: url('{{ url_for("static", path="assets/img/backgrounds/monuments2.jpg") }}');">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('monuments') }}"><b>Monument Detection</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent6" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent6">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active mx-2">
                        <a class="nav-link" href="{{ url_for('monuments') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Your existing navigation code -->

    <br><br>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Monument Detection</h1>
                <h2>Upload Image</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="dropzone"
                    id="my-awesome-dropzone">

                    <div class="form-group text-center">
                        <label for="image" class="font-weight-bold d-block">Select Image:</label>
                        <div class="mx-auto" style="width: fit-content;">
                            <input type="file" class="form-control-file" id="image" name="file" required style="width:70%;">

                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br><br>
    <footer class="footer-style-6 p-3 bg-hue-dark cwhite background-cover" style="background-image: url('{{ url_for("static", path="assets/img/backgrounds/monuments2.jpg") }}');">
        
        <div class="row">
          <div class="col-12 col-lg-3 my-1 text-center py-2">
            <span class="font-title h5"><b>Monument </b>Detection</span><br>
            <small class="lighter my-3 op-7 inline">Major Project</small>
            <ul class="py-2 px-0">
              <li class="inline"><a href="#" class=" circle btn-outline-primary btn m-1 inline"><i class="fa fa-google"></i></a></li>
              <li class="inline"><a href="#" class=" circle btn-outline-primary btn m-1 inline"><i class="fa fa-twitter"></i></a></li>
              <li class="inline"><a href="#" class=" circle btn-outline-primary btn m-1 inline"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-12 col-lg-6 my-1 text-left py-2 font-title">
            <div class="row">
              <div class="col-4">
                <h6 class="uppercase py-1">Categories</h6>
                <ul class="py-1 px-0">
                  <li><a href="#">Stupas</a></li>
                  <li><a href="#">shikhar</a></li>
                  <li><a href="#">mosque</a></li>
                  <li><a href="#">Monastery</a></li>
                </ul>
              </div>
              <div class="col-4">
                <h6 class="uppercase py-1">Features</h6>
                <ul class="py-1 px-0">
                  <li><a href="#">Monument Detection</a></li>
                  <li><a href="#">ML</a></li>
    
                </ul>
              </div>
              <div class="col-4">
                <h6 class="uppercase py-1">Technologies</h6>
                <ul class="py-1 px-0">
                  <li><a href="#">Django</a></li>
                  <li><a href="#">pytorch</a></li>
                  <li><a href="#">Machine Learning</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 my-1 text-left py-2">
            <h6 class="uppercase py-1">About</h6>
            <small class="lighter my-3 op-7 inline font-body">This is a responsive website which aims to deliver Monement Detection of the given app</small>
          </div>
        <div class="col-12 ">
          <div class="mline bg-light"></div>
        </div>
          <div class="col-6 py-2">
                  <small class="lighter op-7"></small>
          </div>
        </div>
      </footer>
    <!-- Your existing footer code -->

    <!-- Bootstrap JS and Popper.js from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/static/assets/plugins/jquery/jquery-3.2.0.min.js"></script>
    <script src="/static/assets/plugins/popper/popper.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/script.js"></script>
</body>

</html>
